nav a.brand-name {
  color: #fff
}

nav a:not(.brand-name) {
  color: #eee;
}

nav a:not(.brand-name):hover {
  text-decoration: none;
  color: #fff;
}

.mobile-hidden {
  display: none !important;
}

@media (min-width: 768px) {
  .mobile-hidden {
    display: initial !important;
  }
}